<form action="/auth/artist" method="get">
    <div id="search-div">
        <div>
            <input id="search-text" type="text" autocomplete="off" name="text" placeholder="Artist Name" required>
        </div>
        <div>
            <input id="search-artist-button" type="submit" name="submit" value="Get Artist">
        </div>
    </div>
</form>