* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #181818;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}

header img {
    width: 8rem;
}

h1, h2, h3, h4, h5, h6 {
    color: #f5f5f5;
    font-weight: 100;
}

main a {
    color: var(--spotify-green);
}

p {
    color: #b1b1b1;
}

#artist-name {
    text-align: center;
    font-size: 4rem;
    font-weight: 100;
}

#artist-img-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

#artist-img-section h2{
    color: var(--spotify-green);
    font-size: 2rem;
}

#artist-img-section h3{
    color: var(--greyed1);
}

#monthly-listeners-div {
    text-align: center;
    flex-grow: 1;
}

#followers-div {
    text-align: center;
    flex-grow: 1;
}

.artist-img {
    width: 20rem;
    text-align: center;
    margin-top: 1rem;
}

.bio {
    max-width: 65rem;
    margin: auto;
    margin-top: 2rem;
    text-align: center;
    line-height: 1.5;
}

@media (max-width: 780px) {
    #artist-img-section {
        margin-top: 1rem;
        flex-direction: column;
        gap: 1rem;
    }
}

@media (max-width: 750px) {
    #logout-artist {
        display: none;
    }
    
    header {
        flex-direction: column;
        gap: 0.5rem;
    }
}
