#search-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-text {
    width: 20rem;
    background-color: #2c2c2c;
    border: 1px solid var(--spotify-green);
    border-radius: 4px;
    height: 1.6rem;
    color: #b1b1b1;
    padding: 0.9rem 0.6rem;
    box-sizing: border-box;
}

#search-text:focus {
    outline: var(--spotify-green) solid 1px;
}

#search-artist-button {
    font-size: 1rem;
    color: var(--greyed1);
    padding: 0.3rem 0.6rem;
    border-radius: 5px;
    background-color: var(--spotify-green);
    border: none;
}

@media (max-width: 500px) {
    #search-text {
        width: 17rem;
    }
}

@media (max-width: 400px) {
    #search-text {
        width: 15rem;
    }

    #search-div {
        margin-top: 0.75rem;
        flex-direction: column;
    }

    #search-artist-button {
        background-color: transparent;
        border: 1px solid var(--spotify-green);
    }

    #search-artist-button:hover {
        background-color: var(--spotify-green);
        border: 1px solid transparent;
    }
}