<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <title>Spotify Jo</title>
</head>
<body>
    <div id="background-overlay"></div>
    <section id="background-image">
        <div id="body-container">
            <header>
                <nav>
                    <div id="nav-div">
                        <i><img id="spotify-logo" src="/public/Spotify_Logo_CMYK_Green.png" alt="Spotify Logo"></i>
                        <ul>
                            <li id="login" class="ghost-button">Login</li>
                            <li id="signup">Sign Up</li>
                        </ul>
                    </div>
                </nav>
            </header>
            <main>
                <section id="container">
                    <div id="container-div">
                        <h1><span id="premium-highlight">Premium</span> music<br>for You</h1>
                        <form action="/login" method="get">
                            <button id="listen-now" class="ghost-button">Listen Now</button>
                        </form>
                        <p id="quality-sound">Quality sound delivered to your soul</p>
                    </div>
                </section>
            </main>
        </div>
    </section>
    <script src="/script/script.js"></script>
</body>
</html>