<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <link rel="stylesheet" href="/public/welcome.css">
    <link rel="stylesheet" href="/public/search.css">
    <title>Document</title>
</head>
<body>
    <main>
        <header id="welcome-header" class="container">
            <nav>
                <ul>
                    <img src="/public/images/Spotify_Logo_CMYK_Green.png">
                </ul>
                <div>
                    <%- include('../partials/logout.ejs') %>
                </div>
            </nav>
        </header>
        <section id="welcome-section" class="container">
            <div id="welcome-div">
                <h1>Search for your Favourite Artist</h1>
                <div id="prototype-container">
                    <div id="prototype-div">
                        <img src="/public/images/prototype.png" alt="Prototype of Web App">
                    </div>
                </div>
                <%- include('../partials/search.ejs') %>
            </div>
        </section>
    </main>
</body>
</html>